{% extends "blogapp/layout.html" %}

{% block main %}

<div class="container width-limiter">
    <div class="mt-5">
        <form action="{% url 'login' %}" method='post'>
            {% csrf_token %}
            <div class="row-auto mb-3">
                <input type="text" class="form-control" name='inputUsername' id="inputUsername" placeholder="Login">
            </div>
            <div class="row-auto mb-3">
                <input type="password" class="form-control" name='inputPassword' id="inputPassword"
                    placeholder="Password">
            </div>
            <div class="row-auto mb-3 text-center">
                <button type="submit" class="btn btn-primary mb-3">Login</button>
            </div>
        </form>
        <small>Don't have an account? <a href="{% url 'register' %}">Register here.</a></small>
    </div>
</div>

{% endblock %}